<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="style2.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <nav>
    <div class="logo"> </div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
    <ul>
      <li><a href="/riderlogin">log-in</a></li>
      <li><a href="/riderregistration">Sign-up</a></li>
      <li><a href="/riderlogin">Book now</a></li>
      <li>
        <div class="input" style="height: 50px;">
          <button id="talk" style="height: 50px;"><i id="icon"
              class="fas fa-microphone-alt fa-2x  fa-circle"></i></button>
          <h1 class="content"></h1>
        </div>
      </li>
    </ul>
  </nav>
  <div class="ima">
    <div class="imtry">
      <p>.</p><br>
      <div class="timeDate">
        <h1 id="time"></h1>
        <h1 id="dateId"></h1>
      </div>
      <div class="imageHeading">
        <h1 class="imageHeading-1"></h1>
      </div>
    </div>
  </div>
  <hr>
  <div class="containor">
    <div class="sing-driver">
      <a href="/driverregistration">Sign-up As A Driver</a><br>
      <span>Alredy have an account?</span> <a href="/driverlogin" id="alredy">Login</a>
    </div>
    <div class="sing-rider">
      <a href="/riderregistration">Sign-up As A Rider</a> <br>
      <span>Alredy have an account?</span> <a href="/riderlogin" id="alredy">Login</a>
    </div>
  </div>
  <hr id="hrdotted">
  <div class="wrapper">
    <i>We Provides the safty for our the customer, we never compromise with safty for our user . That is the point where
      we are providing the believable Ride to our Rider </i>
    <i>The comfort is most important feature of our ride. Any one can have a esy and comfortable ride. let's have a ride
      with the comfort </i>
    <i>We are Availble any time Any where, just a step to book your and we are Availble for you . we never disapoint
      with our Availbility. </i>
    <div class="box">
      <div class="front-face">
        <div class="icon">
          <h1>Safety</h1>
          <i class="fas fa-code"></i>
        </div>
        <span>Safety</span>
      </div>
      <div class="back-face">
        <span>Safety</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem in deleniti vitae beatae veritatis aliquid porro
          perspiciatis dolores impedit ad.
        </p>
      </div>
    </div>
    <div class="box">
      <div class="front-face">
        <div class="icon">
          <h1>Comfort</h1>
          <i class="fas fa-chart-line"></i>
        </div>
        <span>Advertising</span>
      </div>
      <div class="back-face">
        <span>Comfort</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem in deleniti vitae beatae veritatis aliquid porro
          perspiciatis dolores impedit ad.
        </p>
      </div>
    </div>
    <div class="box">
      <div class="front-face">
        <div class="icon">
          <h1>Availbility</h1>
          <i class="fas fa-rocket"></i>
        </div>
        <span>Game Design</span>
      </div>
      <div class="back-face">
        <span>Availbility</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem in deleniti vitae beatae veritatis aliquid porro
          perspiciatis dolores impedit ad.
        </p>
      </div>
    </div>
  </div>
  <div class="khali">

  </div>
  <hr id="hrdotted">
  <div class="khali">

  </div>
  <footer id="footerOne">
    <div class="contentFoot">
      <div class="left box">
        <div class="upper">
          <div class="topic">About us</div>
          <p>Not just in city now your desired whical is in your Pahadi range.
            Pahadicab Provides you the opertunity to take your desired whical for you destini, now you don't have to
            wait for texi or enything else just book your Pahadicab in a afordeble price range. We are the comfort and
            safty of your life. </p>
        </div>
        <div class="lower">
          <div class="topic">Contact us</div>
          <div class="phone">
            <a href="#" id="underlineOne"><i class="fas fa-phone-volume"></i>+00 00 00</a>
          </div>
          <div class="email">
            <a href="#" id="underlineOne"><i class="fas fa-envelope"></i>abc@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="middle box">
        <div class="topic">Our Services</div>
        <div><a href="#" id="underlineOne">Transport the things</a></div>
        <div><a href="#" id="underlineOne">Reach you to your destini</a></div>
        <div><a href="#" id="underlineOne">Provides you the Services</a></div>
        <div><a href="#" id="underlineOne">Safe and secure ride</a></div>
        <div><a href="#" id="underlineOne">Book your whical instanly</a></div>
        <div><a href="#" id="underlineOne">Give you a better experience</a></div>
      </div>
      <div>

      </div>
      <div class="right box">
        <div class="topic">Support us</div>
        <form action="#">
          <input type="text" autocomplete="off" placeholder="leave a comment" id="commentBox">
          <input type="submit" name="" value="Send">
          <div class="media-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </form>
      </div>
    </div>
    <div class="bottom">

    </div>
  </footer>
  </div>
  </div>
</body>
<script>
  function watchTime() {
    const timer = document.getElementById("time");
    const dater = document.getElementById("dateId");
    const date = new Date();
    const timerN = date.toLocaleTimeString();
    const finalTime = `${timerN}`;
    const day = date.toLocaleDateString();
    const finalDate = dater.innerHTML = `${day}`
    timer.innerHTML = finalTime;
  }
  setInterval(watchTime, 1000)

  // voice assistent 
  const btn = document.getElementById("talk");
  const content = document.querySelector('.content');

  /// making a speak function 

  function speak(sentence) {
    const text_speak = new SpeechSynthesisUtterance(sentence);

    text_speak.rate = 1;
    text_speak.pitch = 1;

    window.speechSynthesis.speak(text_speak);
  };

  function wishMe() {
    var day = new Date();
    var hr = day.getHours();

    if (hr >= 0 && hr < 12) {
      speak("Good Morning Boss")
    }

    else if (hr == 12) {
      speak("Good noon Boss")
    }
    else if (hr > 0 && hr <= 12) {
      speak("Good Afternoon Boss")
    }
    else {
      speak("Good Evening Boss")
    }
  }

  function userwish() {
    speak("hello boss i am friday how can i help you")
  }

  window.addEventListener('load', () => {

  })

  const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
  const recognition = new SpeechRecognition();

  recognition.onresult = (event) => {
    const current = event.resultIndex;
    const transcript = event.results[current][0].transcript;
    content.textContent = transcript;
    speakThis(transcript.toLowerCase());
  }

  btn.addEventListener('click', () => {
    recognition.start();
    wishMe();


  })

  function speakThis(message) {
    const speech = new SpeechSynthesisUtterance();
    speech.text = "I did not understand what you said please speak again";

    if (message.includes('hey') || message.includes('hello') || message.includes('hai')) {
      const finalText = "hello boss"
      speech.text = finalText;
    }
    else if (message.includes('how are you')) {
      const finalText = " I am fine boss tell me how can i help you";
      speech.text = finalText;
    }
    else if (message.includes('what is your name')) {
      const finalText = " My name is friday and the inovative engineers  founded me";
      speech.text = finalText;
    }

    else if (message.includes('tell me your name')) {
      const finalText = " My name is friday and the inovative engineers  founded me";
      speech.text = finalText;
    }
    else if (message.includes('help me') || message.includes('help') || message.includes('can help me')) {
      const finalText = " I am always to help you";
      speech.text = finalText;
    }
    else if (message.includes('login user') || message.includes('user login') || message.includes('login')) {
      location.href = (`http://localhost:3000/riderlogin`);
      const finalText = "I found some information  about it";
      speech.text = finalText;
    }
    else if (message.includes('login Driver') || message.includes('Driver login') || message.includes('Driver')) {
      location.href = (`http://localhost:3000/driverlogin`);
      const finalText = "I found some information about it ";
      speech.text = finalText;
    }

    speech.volume = 1;
    speech.pitch = 1;
    speech.rate = 1;


    window.speechSynthesis.speak(speech);
  }

</script>

</html>