<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script src="index.js" type="module"></script>  
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> -->
</head>
<!-- onsubmit="(e)=>{ e.preventDefault();}" -->
<body>
  <div class="container"> 
    <div class="title">Rider Registration</div>
    <div class="content">
      <form  id="RiderRegister" action="/riderregistration" method="post"  onsubmit="return myfunc()">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" id="nameField"  name="Name" placeholder="Enter your name" maxlength="20" minlength="3" class="fetchData"
              required>
            <p id="Namerror"></p>
          </div>
          <div class="input-box"> 
            <span class="details">Email</span>
            <input type="email" id="EmailField" name="Email" placeholder="Enter your email" class="fetchData" required>
            <p id="Emailerror"></p>
          </div>
          <div class="input-box">
            <span class="detailsj">Phone Number</span>
            <input id="numberField" type="number" name="number" placeholder="Enter your number" class="fetchData" required>
            <p id="error"></p>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" id="passwordid" name="password" placeholder="Enter your password" class="fetchData" required>
            <p id="passerror"></p>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" id="conpassid" name="confirmPassword" placeholder="Confirm your password" class="fetchData" required>
            <p id="conpasserror"></p>
          </div>
        </div>
        <div class="gender-details">
          
          <input type="radio" name="gender" value="Male" id="dot-1" >
          <input type="radio" name="gender" value="Femal" id="dot-2" >
          <input type="radio" name="gender" value="prefer not to say" id="dot-3" >
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Male</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Female</span>
            </label>
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="gender">prefer not to say</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register" id="registrationSubmit">
        </div>
      </form>
    </div>
  </div>

</body>
<script>
  function myfunc(){


let number = document.getElementById("numberField");
let fristName = document.getElementById("nameField");
let pass = document.getElementById("passwordid");
let conpass = document.getElementById("conpassid");


if(!isNaN(fristName.value)){
  document.getElementById("Namerror").innerHTML = "number are not allowed"
  return false;
}  
 if(number.value.length>10){
  document.getElementById("error").innerHTML="*10 digit only"
   return false;
}
 if(number.value.length<10){
  document.getElementById("error").innerHTML="*10 digit only"
  return false;
}

 
if(pass.value.length <5 ){
  document.getElementById("passerror").innerHTML = "password must be in 5 to 20 char"
  return false;
}
if(pass.value.length >21 ){
  document.getElementById("passerror").innerHTML = "password must be in 5 to 20 char" 
  return false;
}
if(pass.value != conpass.value){
  document.getElementById("conpasserror").innerHTML = "must be same password"
  return false;
 } 
}

</script>

</html>